@import './sass/variables';
@import './sass/fonts';
@import './sass/responsive';

@import './components/navbar/Navbar';
@import './components/buttons/LargeBtn/LargeBtn';
@import './components/buttons/LargeBtn2/LargeBtn2';
@import './components/buttons/LargeBtn3/LargeBtn3';
@import './components/buttons/MediumBtn/MediumBtn';
@import './components/buttons/SmallBtn/SmallBtn';
@import './components/page-name/PageName';
@import './components/hero-img/HeroImg';
@import './components/welcome-text/WelcomeText';
@import './components/hero-about/HeroAbout';
@import './components/featured/Featured';
@import './components/footer/Footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul > li {
  display: inline;
  list-style: none;
}

.btn-slider {
  display:flex;
}