@import './sass/variables';
@import './sass/fonts';

@import './components/navbar/Navbar';
@import './components/buttons/LargeBtn/LargeBtn';
@import './components/buttons/MediumBtn/MediumBtn';
@import './components/buttons/SmallBtn/SmallBtn';
@import './components/page-name/PageName';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul > li {
  display: inline;
  list-style: none;
}

.btn-slider {
  display:flex;
}